<!-- INI PROY-00013 RFC -->
<div *ngIf="Type != ''">
  <app-title titulo="{{Type}}"></app-title>
  <div class="contenedor">
    <button class="DownloadMasive" (click)="onSincronizar()">{{nameButton}}</button>
  </div>
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8">
    <mat-form-field appearance="outline" class="w-full pt-4">
    <mat-label>Buscar registro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Escribe Código, Nombre corto, Nombre de Unidad Organizativa ...">
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>  
    <hr>
    <mat-table matSort #tablaDetalle [dataSource]="dataSourceSincronizacion">
      <ng-container matColumnDef="codigo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item?.codigo }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nombreCorto">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Corto </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item?.nombreCorto }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Unidad Organizativa </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item?.nombre }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Actualización </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item?.fecha | date:'dd/MM/yyyy' }} </mat-cell>
      </ng-container>
      <!-- Header Row -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <!-- Data Rows -->
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginatorSincronizacion [pageSizeOptions]="[10, 15, 20, 25 ,30]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<!-- FIN PROY-00013 RFC -->