
thead tr th{
    background: rgb(0,211,255,1) !important;
    background: linear-gradient(180deg, rgba(191,219,254,1) 0%, rgb(0, 204, 255) 100%) !important; 
    font-size: 16px;
    color: rgb(49, 49, 49);
  }
  
  th,td{
    border: solid rgb(153, 153, 153) 1px !important;
  }
  
  .badgegreen {
    color: white;
    padding: 4px 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bolder;
    width: 100%;
  }
  
  .badgered {
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bolder;
    width: 100%;
  }

  .bluebtn{
    height: 43px
  }

  .DownloadMasive{
    margin: 0;
    color: #ffffff;
    background-color: #007ad9;
    border: 1px solid #007ad9;
    font-size: 14px;
    padding: 0.5em 1em;
    border-radius: 3px;
  }

  .contenedor{
    height: 3rem !important;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .center-text {
  text-align: center;
  justify-content: center; 
}
.cancelbtn {
    display: flex;
    align-items: center;
    /* Rojo principal: #f44336 */
    background-color: #f44336; 
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
    padding-right: 0.9rem;
}

.cancelbtn:hover {
    /* Rojo oscuro para el hover: #d32f2f */
    background-color: #d32f2f;
    cursor: pointer
}