<div *ngIf="TableData">
  <div class="text-center mt-6">
  <h1 class="text-lg" style="text-transform: uppercase;">VISUALIZACIÓN DE RESULTADOS DE EVALUACIÓN DE DESEMPEÑO POR COMPETENCIAS {{TableData?.registros?.tipo}}°</h1>
  </div>
  <section class="m-4">
    <hr>
    <div>
      <p class="font-bold mb-0">Datos del evaluado:</p>
    </div>
    <div>
      <table>
        <tr>
          <td class="flex font-bold justify-between"><p>Ficha:</p> <p>{{removeLeadingZeros(TableData.registros.ficha)}}</p></td>
          <td class="font-bold pl-4">Nombre: {{TableData.registros.nombre}}</td>
        </tr>
        <tr>
          <td class="flex font-bold justify-between"><p>Unidad Orgánica: {{TableData.registros.unidadOrganica}}</p></td>
          <td class="font-bold pl-4">Cargo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{TableData.registros.cargo}}</td>
        </tr>
      </table>
    </div>
    <hr class="mt-2">
    <div>
      <p class="font-bold mb-0">Datos del evaluador:</p>
    </div>
    <div>
      <table>
        <tr>
          <td class="flex font-bold justify-between"><p>Ficha:</p> <p>{{removeLeadingZeros(TableData.registros.fichaEvaluador)}}</p></td>
          <td class="font-bold pl-4">Nombre: {{TableData.registros.nombreEvaluador}}</td>
        </tr>
        <tr>
          <td class="flex font-bold justify-between"><p>Unidad Orgánica: {{TableData.registros.unidadOrganicaEvaluador}}</p></td>
          <td class="font-bold pl-4">Cargo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{TableData.registros.cargoEvaluador}}</td>
        </tr>
      </table>
    </div>
    <hr class="mt-2">
  </section>
  
  
    <div *ngFor="let item of TableData.registros.competenciasResultado; index as i" class="relative overflow-x-auto m-4 mt-1">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500  mb-4">
          <thead class="text-xs text-gray-700 bg-blue-200">
              <tr class="border border-black border-solid  text-black">
                  <th scope="col" class="px-6 py-3"></th>
                  <th scope="col" class="py-3" *ngIf="item.titulo != undefined">
                      {{item.titulo + ":"}}
                      <div class="normal-case">
                      {{item.descripcion}}
                      </div>
                  </th>
                  <th class="text-center border-solid border-1 " style="width: 6rem;">
                      <p class="mb-0">Calificación por Comportamiento</p>
                  </th>
              </tr>
          </thead>
          <tbody *ngFor="let question of item.comportamientosResultado; index as i">
              <tr class="bg-white border border-black border-solid">
                  <td class="text-center text-gray-900">
                    {{i+1}}
                  </td>
                  <td scope="row" class="flex font-medium text-gray-900">
                      <div>{{question.descripcion}}</div>
                  </td>
                  <td class="text-center border-solid border-1 bg-blue-300" [ngSwitch]="question.resultado">
                    <p class="text-black" *ngSwitchCase="0">No se ingresó un valor</p>
                      <p class="text-black" *ngSwitchCase="1">0%</p>
                      <p class="text-black" *ngSwitchCase="2">25%</p>
                      <p class="text-black" *ngSwitchCase="3">50%</p>
                      <p class="text-black" *ngSwitchCase="4">75%</p>
                      <p class="text-black" *ngSwitchCase="5">100%</p>
                  </td>
              </tr>  
          </tbody>
          <tr class="bg-blue-900 text-white">
            <td colspan="2">Calificación por competencia {{item.titulo}}</td>
            <td class="font-bold text-center">{{calcularPromedioPonderado(item.resultado)}} <br> {{ObtenerLabeldeEstado(item.resultado)}}</td>
          </tr>
      </table>
    </div>
  
    <div class="m-4">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <tbody>
          <tr class="bg-white border border-black border-solid">
            <td class="w-1/2 bg-blue-900 text-white">Competencia con mayor FORTALEZA: Indicar hechos y datos que lo evidencien.</td>
            <td class="w-1/2 font-medium text-gray-900"><b>{{obtenerNombreCompetenciasFiltrada(TableData.registros.competenciaFortaleza)}}</b><br>{{TableData.registros.fortaleza}}</td>
          </tr>
          <tr class="bg-white border border-black border-solid">
            <td class="w-1/2 bg-blue-900 text-white">Competencia con mayor OPORTUNIDAD DE MEJORA: Indicar hechos y datos que lo evidencien.</td>
            <td class="w-1/2 font-medium text-gray-900"><b>{{obtenerNombreCompetenciasFiltrada(TableData.registros.competenciaOportunidad)}}</b><br>{{TableData.registros.oportunidad}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  <div class="m-4">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
    <tbody>
        <tr class="bg-white  border border-black border-solid">
            <td rowspan="4" class="bg-blue-900 text-white">
              RESULTADO DE EVALUACIÓN DEL DESEMPEÑO
            </td>
            <td scope="row" class="flex font-medium text-gray-900">
              RESULTADO DE EVALUACIÓN DE COMPETENCIAS
            </td>
            <td class="bg-blue-900 text-white text-center">
                <p class="text-white font-bold">{{calcularPromedioFinal(AutoEvaluationResult) + "%"}}</p>
            </td>
        </tr>  
        <tr class="bg-white  border border-black border-solid">
          <td scope="row" class="flex font-medium text-gray-900">
            VALORACIÓN DEL DESEMPEÑO
          </td>
          <td class="bg-blue-900 text-white text-center">
              <p class="text-white font-bold">{{ObtenerLabeldeEstado(AutoEvaluationResult)}}</p>
          </td>
      </tr> 
    </tbody>
  </table>
  </div>
  </div>


  <div class="flex float-end text-end pb-6 footer" >
    <div>
      <button *ngIf="TableData != undefined || null" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mr-6" (click)="PrintButton()">
        Imprimir
      </button>
    </div>
  </div>
