
thead tr th{
    background: rgb(0,211,255,1) !important;
    background: linear-gradient(180deg, rgba(191,219,254,1) 0%, rgb(0, 204, 255) 100%) !important; 
    font-size: 16px;
    color: rgb(49, 49, 49);
  }
  
  th,td{
    border: solid rgb(153, 153, 153) 1px !important;
  }
  
  .badgegreen {
    color: white;
    padding: 4px 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bolder;
    width: 100%;
  }
  
  .badgered {
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    font-weight: bolder;
    width: 100%;
  }

  .bluebtn{
    height: 43px
  }

  .DownloadMasive{
    margin: 0;
    color: #ffffff;
    background-color: #007ad9;
    border: 1px solid #007ad9;
    font-size: 14px;
    padding: 0.5em 1em;
    border-radius: 3px;
  }

  .contenedor{
    height: 4rem;
    display: grid;
    justify-content: center;
    align-items: center;
  }

progress[value]::-webkit-progress-value {
    transition: 0.5s;
    background: rgb(59 130 246);
}


progress::-webkit-progress-bar {
    background-color: rgb(192, 192, 192);
}

progress[value]::-webkit-progress-bar {
    background-color: rgb(192, 192, 192);
}

progress {
    background-color: rgb(192, 192, 192);
}
