<div *ngIf="DataToShow != undefined">
<div class="p-6">
  <!-- Header -->
  <div class="text-center mb-6">
    <h1 class="text-lg font-bold text-blue-900">
      Registro de Cumplimiento Plan Individual de Desarrollo (PID)
    </h1>
  </div>

  <p-messages *ngIf="ShowVerdictBadge" [(value)]="msgs" [closable]="false"></p-messages>


  <!-- Information Table -->
  <table *ngIf="DataToShow != undefined" class="bg-white mb-2 w-full Datatable">
    <tbody>
      <tr>
        <td class=" px-4 py-2 font-semibold" style="text-align: start !important;">Nombre del Trabajador:</td>
        <td class=" px-4 py-2" style="text-align: start !important;">{{DataToShow.registros.evaluado.apellidosNombres}}</td>
        <td class=" px-4 py-2 font-semibold" style="text-align: start !important;">Equipo:</td>
        <td class=" px-4 py-2" style="text-align: start !important;">{{DataToShow.registros.evaluado.equipo_nombre}}</td>
      </tr>
      <tr>
        <td class=" px-4 py-2 font-semibold" style="text-align: start !important;">Puesto del Trabajador:</td>
        <td class=" px-4 py-2" style="text-align: start !important;">{{DataToShow.registros.evaluado.nombrePuesto}}</td>
        <td class=" px-4 py-2 font-semibold" style="text-align: start !important;">Gerencia:</td>
        <td class=" px-4 py-2" style="text-align: start !important;">{{DataToShow.registros.evaluado.gerencia_nombre}}</td>
      </tr>
      <tr>
        <td class=" px-4 py-2 font-semibold" style="text-align: start !important;">Ficha del Trabajador:</td>
        <td class=" px-4 py-2" style="text-align: start !important;">{{DataToShow.registros.evaluado.codigoFicha}}</td>
        <td class=" px-4 py-2 font-semibold" style="text-align: start !important;">Fecha:</td>
        <td class=" px-4 py-2" style="text-align: start !important;" *ngIf="DataToShow.registros.fecModificacion != ''">{{FormatDate(DataToShow.registros.fecModificacion)}}</td>
      </tr>
      <tr>
        <td class=" px-4 py-2 font-semibold" style="text-align: start !important;">Nombre del Evaluador:</td>
        <td class=" px-4 py-2" style="text-align: start !important" *ngIf="DataToShow.registros.evaluador.apellidosNombres != ''">{{DataToShow.registros.evaluador.apellidosNombres}}</td>
      </tr>
      <tr>
        <td class=" px-4 py-2 font-semibold" style="text-align: start !important;">Puesto del Evaluador:</td>
        <td class=" px-4 py-2" style="text-align: start !important;" *ngIf="DataToShow.registros.evaluador.nombrePuesto != ''">{{DataToShow.registros.evaluador.nombrePuesto}}</td>
      </tr>
      <tr>
        <td class=" px-4 py-2 font-semibold" style="text-align: start !important;">Ficha del Evaluador:</td>
        <td class=" px-4 py-2" style="text-align: start !important;" *ngIf="DataToShow.registros.evaluador.codigoFicha != ''">{{DataToShow.registros.evaluador.codigoFicha}}</td>
      </tr>
    </tbody>
  </table>

  <!-- Competencias Table -->
  <table *ngIf="DataToShow != undefined"  class="w-full Datatable text-sm text-left text-gray-700 border border-gray-300">
    <thead class="text-xs text-white bg-blue-900 uppercase">
      <tr>
        <th scope="col" class="p-2 border border-gray-300">
          Competencia a Desarrollar
        </th>
        <th scope="col" class="p-2 border border-gray-300">
          Objetivo de Desarrollo
        </th>
        <th scope="col" class="p-2 border border-gray-300">
          Iniciativas y Acciones de Mejora
        </th>
        <th scope="col" class="p-2 border border-gray-300">Indicadores</th>
        <th scope="col" class="p-2 border border-gray-300">Entregables</th>
        <th scope="col" class="p-2 border border-gray-300">
          Fecha de inicio de iniciativa
        </th>
        <th scope="col" class="p-2 border border-gray-300">
          Fecha de fin de iniciativa
        </th>
        <th scope="col" class="p-2 border border-gray-300">
          Adjuntar documento
        </th>
        <th scope="col" class="p-2 border border-gray-300">
          Fecha de ejecución
        </th>
        <th scope="col" class="p-2 border border-gray-300">
          % De cumplimiento
        </th>
        <th scope="col" class="p-2 border border-gray-300">
          Comentarios
        </th>
      </tr>
    </thead>
    <tbody *ngIf="DataToShow != undefined">
      <tr class="bg-white border-b">
        <td style="max-width: 100%;" class="p-2 border border-gray-300 font-semibold" rowspan="3">
          {{DataToShow.registros.detalles[0].competencia.titulo}}
        </td>
        <td
          class="p-2 border border-gray-300"
          rowspan="3"
        >
        {{ObjetivoDesarrollo}}
        </td>
        <td 
          class="p-2 border border-gray-300"
          >
        {{IniciativaYMejora1}}
        </td>
        <td 
        class="multiselectcontainer text-left p-2 border border-gray-300 text-center"  
        *ngIf="this.selectedDeliverableItem1 != ''"
        >
        {{this.GetIndicatorName(this.selectedIndicatorItem1)}}
        </td>
        <td 
        class="multiselectcontainer text-left p-2 border border-gray-300 text-center"  
        *ngIf="this.selectedDeliverableItem1 != ''"
        >
        {{this.GetDeliverableName(this.selectedDeliverableItem1)}}
        </td>
        <td class="p-2 border border-gray-300 text-center">
          {{Item1StartDate}}
        </td>
        <td class="p-2 border border-gray-300 text-center">
          {{Item1EndDate}}
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <a class="mb-0 decoration-transparent text-black" target="_blank" *ngIf="AttachedDocument1 != ''" [href]="AttachedDocument1">
            <label class="mb-0 flex flex-col items-center uppercase cursor-pointer">
              <svg class="w-8 h-8" fill="#374151" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
              </svg>
              <span class="text-base leading-normal attached-item-label">{{NameAttachedDocument1}}</span>   
            </label>
          </a>
          <p class="mb-0" *ngIf="AttachedDocument1 === ''">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="Item1ComplianceAcomplishDate">{{Item1ComplianceAcomplishDate }}</p>
          <p class="mb-0" *ngIf="!Item1ComplianceAcomplishDate">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="Item1ComplianceAcomplishPercentage">{{ Item1ComplianceAcomplishPercentage }}</p>
          <p class="mb-0" *ngIf="!Item1ComplianceAcomplishPercentage">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="Commentary1">{{ Commentary1 }}</p>
          <p class="mb-0" *ngIf="!Commentary1">&nbsp;</p>
        </td>
      </tr>
      <tr *ngIf="IniciativaYMejora2 != ''" class="bg-white border-b">
        <td class="p-2 border border-gray-300">
          <p class="mb-0" *ngIf="IniciativaYMejora2 != ''">{{IniciativaYMejora2}}</p>
          <p *ngIf="IniciativaYMejora2 == ''">&nbsp;</p>
        </td>
        <td class="multiselectcontainer text-left p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="selectedIndicatorItem2">{{ GetIndicatorName(selectedIndicatorItem2) }}</p>
          <p class="mb-0" *ngIf="!selectedIndicatorItem2">&nbsp;</p>
        </td>
        <td class="multiselectcontainer text-left p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="selectedDeliverableItem2">{{ GetDeliverableName(selectedDeliverableItem2) }}</p>
          <p class="mb-0" *ngIf="!selectedDeliverableItem2">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="Item2StartDate">{{ Item2StartDate }}</p>
          <p class="mb-0" *ngIf="!Item2StartDate">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="Item2EndDate">{{ Item2EndDate }}</p>
          <p class="mb-0" *ngIf="!Item2EndDate">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <a class="mb-0 decoration-transparent text-black" target="_blank" *ngIf="AttachedDocument2 != ''" [href]="AttachedDocument2">
            <label class="mb-0 flex flex-col items-center uppercase cursor-pointer">
              <svg class="w-8 h-8" fill="#374151" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
              </svg>
              <span class="text-base leading-normal attached-item-label">{{NameAttachedDocument2}}</span>   
            </label>
          </a>
          <p class="mb-0" *ngIf="AttachedDocument2 === ''">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="Item2ComplianceAcomplishDate">{{Item2ComplianceAcomplishDate}}</p>
          <p class="mb-0" *ngIf="!Item2ComplianceAcomplishDate">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="Item2ComplianceAcomplishPercentage">{{ Item2ComplianceAcomplishPercentage }}</p>
          <p class="mb-0" *ngIf="!Item2ComplianceAcomplishPercentage">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="Commentary2">{{ Commentary2 }}</p>
          <p class="mb-0" *ngIf="!Commentary2">&nbsp;</p>
        </td>
      </tr>
      <tr *ngIf="IniciativaYMejora3 != ''" class="bg-white border-b">
        <td class="p-2 border border-gray-300">
          <p class="mb-0" *ngIf="IniciativaYMejora3 != ''">{{IniciativaYMejora3}}</p>
          <p class="mb-0" *ngIf="IniciativaYMejora3 == ''">&nbsp;</p>
        </td>
        <td class="multiselectcontainer text-left p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="selectedIndicatorItem3">{{ GetIndicatorName(selectedIndicatorItem3) }}</p>
          <p class="mb-0" *ngIf="!selectedIndicatorItem3">&nbsp;</p>
        </td>
        <td class="multiselectcontainer text-left p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="selectedDeliverableItem3">{{ GetDeliverableName(selectedDeliverableItem3) }}</p>
          <p class="mb-0" *ngIf="!selectedDeliverableItem3">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="Item3StartDate">{{ Item3StartDate }}</p>
          <p class="mb-0" *ngIf="!Item3StartDate">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="Item3EndDate">{{ Item3EndDate }}</p>
          <p class="mb-0" *ngIf="!Item3EndDate">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <a class="mb-0 decoration-transparent text-black" target="_blank" *ngIf="AttachedDocument3 != ''" [href]="AttachedDocument3">
            <label class="mb-0 flex flex-col items-center uppercase cursor-pointer">
              <svg class="w-8 h-8" fill="#374151" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                  <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
              </svg>
              <span class="text-base leading-normal attached-item-label">{{NameAttachedDocument3}}</span>   
            </label>
          </a>
          <p class="mb-0" *ngIf="AttachedDocument3 === ''">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="Item3ComplianceAcomplishDate">{{Item3ComplianceAcomplishDate}}</p>
          <p class="mb-0" *ngIf="!Item3ComplianceAcomplishDate">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="Item3ComplianceAcomplishPercentage">{{ Item3ComplianceAcomplishPercentage }}</p>
          <p class="mb-0" *ngIf="!Item3ComplianceAcomplishPercentage">&nbsp;</p>
        </td>
        <td class="p-2 border border-gray-300 text-center">
          <p class="mb-0" *ngIf="Commentary3">{{ Commentary3 }}</p>
          <p class="mb-0" *ngIf="!Commentary3">&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="p-6" *ngIf="EvaluatorcomentarioCumplimiento != ''">
  <div>
    <p class="mb-2"><b>COMENTARIO DEL EVALUADOR:</b></p>
  </div>
  <mat-form-field appearance="outline" class="w-full">
    <textarea
      matInput
      class="w-full rounded-md"
      disabled
      [(ngModel)]="EvaluatorcomentarioCumplimiento"
      maxlength="500"
      aria-label="Comentario"
      rows="5">
    </textarea>
    <mat-hint align="end">{{ EvaluatorcomentarioCumplimiento?.length || 0 }}/500</mat-hint>
  </mat-form-field>  
</div>
<footer *ngIf="ShowEvaluateButtons && (this.EvaluatorData.permisos[0].evaluador || this.EvaluatorData.permisos[1].evaluador)" class="p-6">
  <div>
  <button
  class="mb-2 inline-flex text-white bg-primary items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 px-4 py-2 w-full"
  type="submit"
  [disabled]="ShowMessage"
  (click)="MostrarModalDeAprobacion()"
>
  Aprobar cumplimiento de PID
</button>
<button
class="inline-flex text-white bg-danger items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-danger/90 h-10 px-4 py-2 w-full"
type="submit"
[disabled]="ShowMessage"
(click)="MostrarModalDeRechazo()"
>
 Rechazar cumplimiento de PID   
</button>
</div>
</footer>
</div>